@model IEnumerable<WebBanDoCongNghe.Models.tb_Product>


@if (Model != null && Model.Any())
{

    foreach (var item in Model)
    {
        var strImage = "";
        var image = item.tb_ProductImages.FirstOrDefault(n => n.IsDefault == true);
        if (image != null)
        {
            strImage = image.Image;
        }
        if (item.Quantity > 0)
        {
            <div class="product-item @item.tb_ProductCategory.Link">
                <div class="product discount product_filter">
                    <div style="min-height:240px;" class="product_image">
                        <a href="/chi-tiet/@item.Link-p@(item.MaSanPham)"><img src="@strImage" alt="@item.TenSanPham"></a>
                    </div>
                    @if (item.IsSale == true)
                    {
                        <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>Sale</span></div>
                    }
                    <div class="product_info">
                        <h6 style="margin-top:20px !important;" class="product_name"><a href="/chi-tiet/@item.Link-p@(item.MaSanPham)">@item.TenSanPham</a></h6>
                        @if (item.IsSale == true)
                        {
                            <div class="product_price">@String.Format("{0:0,0}", @item.PriceSale) VND</div>
                            <div class="product_price"><span style="margin:0">@String.Format("{0:0,0}", @item.Price) VND</span></div>
                            <div style="display:none" class="in_product_price"> @item.PriceSale</div>
                        }
                        @if (item.IsSale == false || item.IsSale == null)
                        {
                            <div class="product_price">@String.Format("{0:0,0}", @item.Price) VND</div>
                            <div style="display:none" class="in_product_price"> @item.Price</div>
                        }
                    </div>
                </div>
                <div class="red_button add_to_cart_button"><a href="#" class="btnAddToCart" data-id="@item.MaSanPham">add to cart</a></div>
            </div>
        }
        else
        {
            <div class="product-item out-of-stock">
                <div class="product discount product_filter">
                    <div style="min-height:240px;" class="product_image">
                        <a href="/chi-tiet/@item.Link-p@(item.MaSanPham)"><img src="@strImage" alt="@item.TenSanPham"></a>
                    </div>
                    <div class="product_info">
                        <h6 style="margin-top:20px !important;" class="product_name"><a href="/chi-tiet/@item.Link-p@(item.MaSanPham)">@item.TenSanPham</a></h6>
                        <div class="product_price out_of_stock">HẾT HÀNG</div>
                    </div>
                </div>
            </div>

        }
    }
}