@model WebBanDoCongNghe.Models.tb_Customer
@{
    ViewBag.Title = "ChangePassWord";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">
            <!-- Breadcrumbs -->
            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="@Url.Action("IndexHome", "Home")">Trang chủ</a></li>
                    <li><a href="/User/IndexUser/"><i class="fa fa-angle-right" aria-hidden="true"></i>Thông tin</a></li>
                    <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Đổi mật khẩu</a></li>
                </ul>
            </div>
            <!-- Main Content -->
            <div class="row">
                <div class="col-md-8 text-center">
                    <h4>Đổi mật khẩu</h4>
                </div>
                <div class="col-md-8 text-center" style="height:20px;">
                    <h6 class="text-danger">@ViewBag.error</h6>
                </div>
            </div>
            <div class="row">
                <div  class="col-md-8">
                    @using (Html.BeginForm("ChangePassWord", "Login", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label for="">Mật khẩu cũ</label>
                            <input id="password" type="password" name="matkhaucu" placeholder="Mặt khẩu cũ" required="required" />


                            @Html.ValidationMessageFor(x => x.TaiKhoan, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="">Mật khẩu</label>
                            <input id="password" type="password" name="matkhaumoi" placeholder="Mặt khẩu mới" required="required" />


                            @Html.ValidationMessageFor(x => x.MatKhau, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="">Nhập lại mật khẩu</label>
                            <input id="password" type="password" name="matkhaumoiconfirm" placeholder="Mặt khẩu mới" required="required" />


                            @Html.ValidationMessageFor(x => x.MatKhau, null, new { @class = "text-danger" })
                        </div>
                        <div class="col text-center ">
                            <button type="submit" class="btn btn-success">Cập nhật</button>
                            <div id="showpass" class="btn btn-danger"> Hiện mật khẩu </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    /* Màu mặc định cho chữ trong các ô textbox */
    input[type="text"], input[type="password"] {
        color: black !important;
    }
    /* Màu cho chữ thông báo lỗi */
    .field-validation-error {
        color: red;
    }

    #password {
        background-color: #eee;
        border: none;
        padding: 12px 15px;
        margin: 8px 0;
        width: 100%;
    }


</style>
<script>
    document.getElementById("showpass").addEventListener("click", () => {
        
        var x = document.querySelectorAll("input#password");

        x.forEach((div) => {
            if (div.type === "password") {
                div.type = "text";

            }
            else {
                div.type = "password";

            }
        })
      
    })

</script>


