@model PagedList.PagedList<WebBanDoCongNghe.Models.tb_Traveler>
@using PagedList.Mvc;

<div class="card-body">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-center">STT</th>
                <th class="text-center">Mã đơn hàng</th>
                <th class="text-center">Tên khách hàng </th>
                <th class="text-center">Số điện thoại </th>
                <th class="text-center">Tổng tiền</th>
                <th class="text-center">Phương thức</th>
                <th class="text-center">Xác nhận đơn</th>
                <th class="text-center">Thanh toán</th>
                <th class="text-center">Công cụ</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                var i = 1;
                foreach (var item in Model)
                {
                    var thanhtoanCheck = item.IsThanhToan == true ? "<a><i class='fa fa-check text-success'></i></a>" : "<a><i class='fas fa-times text-danger'></i></a>";
                    var xacnhanCheck = item.IsXacNhan == true ? "<a><i class='fa fa-check text-success'></i></a>" : "<a><i class='fas fa-times text-danger'></i></a>";
                    <tr>
                        <td class="text-center">@i</td>
                        <td class="text-center">@item.MaDonHang</td>
                        <td class="text-center">@item.HoTen</td>
                        <td class="text-center">@item.PhoneNumber1</td>
                        <td class="text-center">@String.Format("{0:0,0}", @item.TotalPayment) VDN</td>
                        <td class="text-center">@item.tb_PhuongThucThanhToan.TenPhuongThucThanhToan</td>
                        <td class="text-center">@Html.Raw(xacnhanCheck)</td>
                        <td class="text-center">@Html.Raw(thanhtoanCheck)</td>
                        <td class="text-center">
                            <a href="/Admin/OrderTraveler/EditOrderTraveler/@item.MaDonHang" class="btn btn-sm btn-primary">Cập nhật</a>
                        </td>
                    </tr>
                    i++;
                }

            }
            else
            {
                <tr>
                    <td colspan="12">Không có đơn hàng nào!</td>
                </tr>
            }
        </tbody>

    </table>
</div>
@*tạo link liên kết phân trang*@
<div id="phantrang">
    <div>
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
    </div>
    <div id="phantrang-SoThuTu">
        @Html.PagedListPager(Model, page => Url.Action("IndexOrderTraveler", new { page = page }))
    </div>
</div>

