@model WebBanDoCongNghe.Models.tb_Traveler
@{
    ViewBag.Title = "OrderTravelerDetail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Admin/Home/Index" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Admin/OrderTraveler/IndexOrderTraveler" class="nav-link">Danh sách đặt hàng</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Chi tiết</a>
        </li>
    </ul>
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Chi tiết đơn hàng</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Admin/OrderTraveler/IndexOrderTraveler">Danh sách đặt hàng</a></li>
                    <li class="breadcrumb-item active">Chi tiết</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="exampleInputFile">Tên khách hàng</label>
                        <p class="form-control"><i class="fas fa-user-alt" style="margin-right:10px"></i>@Model.HoTen</p>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="exampleInputFile">Email</label>
                            <p class="form-control"><i class="fas fa-envelope" style="margin-right:10px"></i>@Model.Email</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="exampleInputFile">Thời gian đặt hàng</label>
                            <p class="form-control"><i class="fas fa-calendar-alt" style="margin-right:10px"></i>@String.Format("{0:dd/MM/yyyy - hh:mm:ss tt}", @Model.CreateDate)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="exampleInputFile">Số điện thoại</label>
                        <p class="form-control"><i class="fas fa-phone-alt" style="margin-right:10px"></i>@Model.PhoneNumber1</p>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="exampleInputFile">Số điện thoại phụ</label>
                        <p class="form-control"><i class="fas fa-phone-alt" style="margin-right:10px"></i>@Model.PhoneNumber2</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col">
                    <div class="form-group">

                        <div class="form-group">
                            <label for="exampleInputFile">Địa chỉ</label>
                            <p class="form-control">
                                <i class="fas fa-map-marker-alt" style="margin-right:10px"></i>@Model.Address
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (@Model.Ghichu != null)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <div class="form-group">
                                <label for="exampleInputFile">Ghi chú</label>
                                <p class="form-control"><i class="fas fa-pencil-alt" style="margin-right:10px"></i>@Model.Ghichu</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    @if (Model.LyDoHuyDon != null)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <div class="form-group">
                                <label for="exampleInputFile">Lý do hủy đơn</label>
                                <p class="form-control"><i class="fas fa-pencil-alt" style="margin-right:10px"></i>@Model.LyDoHuyDon</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-md-12">
            <h3>Danh sách sản phẩm</h3>
        </div>
        @Html.Action("Partial_OrderTravelerDetail", "OrderTraveler")
    </div>
</section>

