@model PagedList.PagedList<WebBanDoCongNghe.Models.tb_Order>
@using PagedList.Mvc;

<div class="card-body">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-center">STT</th>
                <th class="text-center">Mã đơn hàng</th>
                <th class="text-center">Tổng tiền</th>
                <th class="text-center">Thời gian đặt hàng</th>
                <th class="text-center">Thời gian hoàn thành</th>
                <th class="text-center">Điểm cộng</th>
                <th class="text-center">Trạng thái điểm</th>
                <th class="text-center">Chi tiết</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                var i = 1;
                foreach (var item in Model)
                {

                    <tr>
                        <td class="text-center">@i</td>
                        <td class="text-center">@item.MaDonHang</td>
                        <td class="text-center">@String.Format("{0:0,0}", @item.TotalPayment) VDN</td>
                        <td class="text-center">@String.Format("{0:dd/MM/yyyy - hh:mm:ss tt}", @item.CreateDate)</td>
                        <td class="text-center">@String.Format("{0:dd/MM/yyyy - hh:mm:ss tt}", @item.UpdatedDate)</td>
                        @{
                            // Tính số điểm cộng tương ứng với tổng tiền của đơn hàng
                            int soDiemCong = (int)(item.TotalPayment / 5000000);
                        }
                        <td class="text-center">
                            @soDiemCong
                            <image src="~/Content/template-user/images/star.png" style="width:25px"></image>
                        </td>
                        @if (@item.TotalPayment < 5000000)
                        {
                            <td class="text-center">Hóa đơn không đủ</td>
                        }
                        else
                        {
                            if (item.IsNhanDiem == false)
                            {
                                <td class="text-center">

                                    @using (Html.BeginForm("CapNhatDiemCong", "OrderUser", FormMethod.Post, new { id = "addForm_" + item.MaDonHang }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.Hidden("orderId", item.MaDonHang)

                                        <button type="submit" class="btn btn-sm btn-primary btnCapNhatDiemCong">Nhận</button>
                                    }
                                </td>
                            }
                            else
                            {
                                <td class="text-center">Đã nhận</td>

                            }
                        }
                        <td class="text-center">
                            <a href="/OrderUser/OrderUserDetail/@item.MaDonHang" class="btn btn-sm btn-success">Xem</a>
                        </td>
                    </tr>
                    i++;
                }

            }
            else
            {
                <tr>
                    <td colspan="12">Không có đơn hàng nào!</td>
                </tr>
            }
        </tbody>
    </table>
</div>
@if (Model != null && Model.Any())
{
    @*tạo link liên kết phân trang*@
    <div class="row justify-content-end">
        <ul class="pagination">
            <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("IndexOrderUser", new { page = Model.PageNumber - 1 })">Trước</a>
            </li>
            @for (int i = 1; i <= Model.PageCount; i++)
            {
                <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                    <a class="page-link" href="@Url.Action("IndexOrderUser", new { page = i })">@i</a>
                </li>
            }
            <li class="page-item @(Model.PageNumber == Model.PageCount ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("IndexOrderUser", new { page = Model.PageNumber + 1 })">Sau</a>
            </li>
        </ul>
    </div>
}


<script>
    $(document).ready(function () {
        // Gắn sự kiện nhấn nút cho mỗi button có class là "btnCapNhatDiemCong"
        $(".btnCapNhatDiemCong").on("click", function (e) {
            e.preventDefault();

            // Lấy form gần nhất chứa nút "Nhận"
            var form = $(this).closest('form');

            // Gọi action để cập nhật điểm công
            $.ajax({
                url: form.attr('action'), // Lấy URL từ thuộc tính action của form
                type: form.attr('method'), // Lấy method từ thuộc tính method của form
                data: form.serialize(), // Sử dụng serialize để lấy dữ liệu từ form
                success: function (result) {
                    if (result.success) {
                        // Hiển thị thông báo nhận thành công
                        alert("Đã nhận điểm công thành công!");

                        // Reload lại trang
                        location.reload();
                    } else {
                        // Hiển thị thông báo lỗi nếu có
                        alert("Đã xảy ra lỗi khi nhận điểm công");
                    }
                },
                error: function () {
                    // Xử lý lỗi nếu có
                    alert("Đã xảy ra lỗi khi nhận điểm công");
                }
            });
        });
    });
</script>